#menu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	}

#menu #item{
	float: left;
}
#menu #item a{
	background: #CC6CE7;
	color: #5DE2E7;
	padding: 12px 24px;
	display: block;
	font-family: Calibri;
	font-size: 24px;
	text-decoration: none;
}
#menu #desplegar{
	display: none;
}
#menu #item a:hover{
	background: pink;

}
#menu #item:hover #desplegar{
	display: block;
}
